@-webkit-keyframes bounce {
	0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
	70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
	90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
	100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
	0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
	70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
	90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
	100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes shake {
	0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
	20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
	0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
	20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

.hidden {
	display: none;
}

.active {
	display: block;
}

body {
	position: relative;
	background-color: #849d8f;
	color: #fff;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding-top: 98px;
	margin: 0;
	min-width: 900px;
}

.main__container {
	display: block;
	position: relative;
}

.container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
}

.flex__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 39px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.button {
	border: 0;
	padding: 15px 24px;
	border-radius: 50px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	background: -webkit-gradient(linear,left top, left bottom,from(#f26843),to(#e74a35));
	background: -webkit-linear-gradient(top,#f26843 0%,#e74a35 100%);
	background: -o-linear-gradient(top,#f26843 0%,#e74a35 100%);
	background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
	-webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button:hover {
	background: -webkit-gradient(linear,left top, left bottom,from(#f58669),to(#ec6f5e));
	background: -webkit-linear-gradient(top,#f58669 0%,#ec6f5e 100%);
	background: -o-linear-gradient(top,#f58669 0%,#ec6f5e 100%);
	background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
	-webkit-box-shadow: 0px 2px 2px 0 #ac1000;
	box-shadow: 0px 2px 2px 0 #ac1000;
}

.button:active {
	background: -webkit-gradient(linear,left top, left bottom,from(#d84732),to(#e1613e));
	background: -webkit-linear-gradient(top,#d84732 0%,#e1613e 100%);
	background: -o-linear-gradient(top,#d84732 0%,#e1613e 100%);
	background: linear-gradient(to bottom,#d84732 0%,#e1613e 100%);
	-webkit-box-shadow: inset 0 2px 2px #ac1000;
box-shadow: inset 0 2px 2px #ac1000;
}

.button__text {
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.link {
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	line-height: 18px;
	text-decoration: none;
}

.link:hover {
	color: #ffbc9e;
}

.link:active {
	color: #ffbc9e;
}

.form {
	background-color: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.form__input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	display: block;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}

.form__input::-webkit-input-placeholder {
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.form__input:-ms-input-placeholder {
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.form__input::-ms-input-placeholder {
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.form__input::placeholder {
	color: #999999;
	font-size: 14px;
	line-height: 24px;
}

.form__label:last-child .form__input{
	margin-bottom: 0;
}

.form__button {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #fefefe;
	padding: 10px 25px;
	text-shadow: none;
}

.registration__link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #323232;
}

.registration__link:hover,
.registration__link:active {
	color: #e84d37;
}

.registration__link::after {
	content: "";
	position: absolute;
	display: block;
	height: 1px;
	width: 100%;
	top: 20px;
	background-color: rgba(0, 0, 0 , 0.3);
}

.contacts {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	position: relative;
}

.contacts__title {
	margin: 0;
}

.contacts__desc-addres,
.contacts__desc-phone {
	display: block;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}

.contacts__desc-phone {
	margin-bottom: 5px;
}

.contacts__addres {
	display: block;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 18px;
	line-height: 24px;
}

.contacts__button {
	position: absolute;
	display: block;
	margin: 0 auto;
	padding: 8px 28px 12px 27px;
	margin-top: 28px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #fefefe;
	text-shadow: none;
}

.contacts__work-time,
.contacts__phone {
	display: block;
	text-align: left;
}

.contacts__work-time,
.contacts__work-time_right {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.contacts__work-time_right {
	display: block;
	text-align: right;
	margin-bottom: 3px;
}

.contacts__phone {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
}

.contacts__phone_s {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 5px;
}

.header__logo-wrapper {
	margin-right: 9px;
}

.header {
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	z-index: 1;
	margin-bottom: 30px;
	top: 0;
	left: 0;
	right: 0;
}

.header__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.header__main-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.site-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	list-style: none;
	padding-left: 0;
	padding-bottom: 8px;
}

.site-nav__link {
	display: block;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 6px 14px;
	font-size: 16px;
	line-height: 19px;
	text-align: left;
	color: #ffffff;
}

.site-nav__item:hover .site-nav__link {
	color: #323232;
	background-color: #f7f6f3;
	border-radius: 50px;
}

.site-nav__link:active {
	color: #323232;
	background-color: #fff;
	border-radius: 50px;
	background-color: #ededed;
	-webkit-box-shadow: inset 0px 2px 1px 0 #696969;
	box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-nav__link::after {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2)
}

.site-nav__link_active {
	background-color: #d07058;
	border-radius: 50px;
	padding-top: 6PX;
	padding-bottom: 6PX;
	margin-top: 2PX;
}

.site-nav__link_active::after {
	display: block;
	height: 1px;
	width: 100%;
	background-color: transparent;
}

.site-nav__item:hover .site-nav__link_active {
	color: #fff;
	background-color: #d07058;
	border-radius: 50px;
}

.site-nav__item-goods {
	position: relative;
}

.site-nav__item-goods:hover .site-nav__container {
	visibility: visible;
}

.site-nav__container {
	z-index: 1;
	left: -7px;
	top: 38px;
	z-index: 1;
	position: absolute;
	visibility: hidden;
}

.site-nav__container::before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	display: block;
	height: 10px;
	content: "";
}

.site-nav__popup {
	padding-left: 0;
	list-style: none;
}

.popup {
	background-color: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.popup__item {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	list-style: none;
}

.popup__link {
	display: block;
	padding: 12px 20px;
}

.popup__item:first-child::after {
	content: "";
	display: block;
	border-bottom: 1px solid #D2D1CF;
	margin-left: 6px;
	margin-right: 9px;
	background-color: #f8f7f4;
}

.popup__link {
	color: inherit;
	text-decoration: none;
}

.popup__link:hover {
	background-color: #fbded8;
}

.popup__link:active {
	background-color: #f6b5a5;
}

.popup__link_active {
	background-color: #d07058;
	color: #fff;
}

.popup__link_active:hover {
	background-color: #d07058;
}

.user-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-bottom: 3px;
}

.user-nav__item {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin-right: 11px;
	text-align: right;
	padding-bottom: 5px;
}

.user-nav__item:last-child {
	margin-right: 0px;
}

.user-nav__item_search {
	padding-bottom: 4px;
}

.user-nav__popup {
	padding: 20px 12px 21px 16px;
}

.popup__order {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.order__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
}

.order__row:last-child {
	margin-bottom: 18px;
}

.order__desc,
.order__price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 13px;
	line-height: 16px;
	text-align: left;
	color: #323232;
}

.order__desc {
	margin-right: 32px;
}

.order__button {
	display: block;
	margin-right: 13px;
	background-color: inherit;
	cursor: pointer;
	border: 0;
	padding: 0;
	width: 11px;
	height: 20px;
}

.order__ice-cream {
	border-radius: 50%;
	margin-right: 14px;
}

.order__name {
	width: 220px
}

.order__weight {
	margin-right: 3px;
}

.order__value {
	color: #999999;
	margin-right: 29px;
}

.order__total-price {
	margin-right: 32px;
}

.order__footer {
	margin: 0;
	border-top: 1px solid #cacac7;
	padding: 17px 0;
}

.order__total-sum {
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
	text-align: left;
	color: #323232;
}

.user-nav__link {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 10px 15px 10px 14px;
	margin-left: auto;
	-webkit-box-shadow: 0px 1px 2px 0 #ac1000;
	box-shadow: 0px 1px 2px 0 #ac1000;
}

.user-nav__button {
	display: block;
	padding: 8px 21px;
	border-radius: 50px;
	text-align: right;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	background-color: rgba(255, 255, 255 , 0.2);
	border: none;
}

.user-nav__item:hover .user-nav__button {
	color: #323232;
	background-color: #f7f6f3;
}

.user-nav__button_active {
	background-color: #f7f6f3;
	color: #323232;
}

.user-nav__button_active:hover {
	background-color: #fff;
}

.user-nav__button_search {
	background-image: url(../img/icons/loupe-white.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 33px;
	height: 33px;
	padding: 0;
}

.user-nav__item:hover:hover .user-nav__button_search {
	background-image: url(../img/icons/loupe.svg);
}

.user-nav__form_login {
	min-width: 341px;
}

.user-nav__button_login {
	background-image: url(../img/icons/login-white.svg);
	background-repeat: no-repeat;
	background-position: 15px 6px;
	padding: 7px 16px 9px 42px;
	text-decoration: none;
}

.user-nav__form_login .flex__container {
	margin-bottom: 2px;
}

.user-nav__item:hover .user-nav__button_login {
	background-image: url(../img/icons/login.svg);
}

.user-nav__container {
	z-index: 1;
	position: absolute;
	right: 1px;
	top: 37px;
	visibility: hidden;
	color: #323232;
}

.user-nav__container::before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	display: block;
	height: 10px;
	content: "";
}

.user-nav__form {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 15px;
	min-width: 277px;
}

.user-nav__item:hover .user-nav__container {
	visibility: visible;
}

.user-nav__button_basket,
.user-nav__button_basket-red {
	text-decoration: none;
	background-image: url(../img/icons/basket-white.svg);
	background-repeat: no-repeat;
	background-position: 15px 6px;
	padding: 8px 17px 8px 44px;
	background-position: 17px 6px;
}

.user-nav__button_basket-red {
	background-image: url(../img/icons/basket-red.svg);
	background-position: 17px 6px;
}

.user-nav__item:hover .user-nav__button_basket {
	background-image: url(../img/icons/basket.svg);
}

.registration {
	padding-left: 0;
}

.registration__item {
	list-style: none;
	padding-left: 0;
}

.table {
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.header{
	margin-top: 9px;
}

.header__contacts {
	color: #fff;
	position: absolute;
	right: -1px;
	top: 100%;
	margin-top: -3px;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	font-size: 0;
	margin-bottom: 3px;
}

.breadcrumbs__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}

.breadcrumbs__item::after {
	display: inline;
	content: "»";
	padding: 0 5px;
	color: #fff;
}

.breadcrumbs__item:last-child::after {
	content: "";
}

.breadcrumbs__link {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

.breadcrumbs__link::after {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2)
}

.breadcrumbs__link_active::after {
	content: "";
	display: block;
	height: 0px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2)
}

.page__title {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	margin: 0;
	margin-bottom: 27px;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-bottom: 34px;
}

.filter__list {
	border: 0;
	padding: 0;
	margin: 0 16px 16px 0;
}

.filter__list:nth-child(4) {
	margin-right: 0;
}

.filter__list:last-child {
	margin-bottom: 0px;
	margin-right: 13px;
}

.filter__title {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #fff;
	margin: 0 0 6px 14px;
}

.filter__select {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px 34px 2px 14px;
	color: #fff;
	background-image: url(../img/icons/icon-down-dir.svg);
	background-repeat: no-repeat;
	background-position: 93% 50%;
	background-size: 12px;
	border: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.filter__select::-ms-expand {
	display: none;
}

.filter__select:hover {
	color: #323232;
	background-image: url(../img/icons/icon-down-dir-dark.svg);
}

.filter__select,
.filter__input {
	border-radius: 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	height: 37px;
	background-color: rgba(255, 255, 255, 0.2);
}

.filter__range {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px 21px 16px 21px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
}

.range__line {
	position: relative;
	height: 4px;
	width: 176px;
	background-color: rgba(255, 255, 255, 0.2);
}

.range__layer {
	position: absolute;
	background-color: #fff;
	height: 4px;
	width: 56%;
	margin-left: 13%;
}

.range__circle {
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border-style: solid;
	border-width: 8px;
	border-color: #fff;
	margin-top: -8px;
	background-color: #849d8f;
}

.range__circle:hover {
	cursor: pointer;
}

.range__circle:first-child {
	left: -10px;
}

.range__circle:last-child {
	right: -10px;
}

.filter__radio {
	border-radius: 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	padding: 7px 15px 8px 20px;
	background-color: rgba(255, 255, 255, 0.2);
}

.radio__label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 22px;
	position: relative;
}

.radio__label:last-child {
	margin-right: 0;
}

.radio__input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.radio__disc {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	left: -6px;
	padding: 5px;
	border-width: 3px;
	border-radius: 50%;
	border-color: rgba(255, 255, 255, 0.8);
	border-style: solid;
	width: 5px;
	height: 5px;
	margin-right: -1px;
}

.radio__disc:hover {
	border-color: #fff;
}

.radio__desc {
	display: inline-block;
	vertical-align: middle;
}

.radio__input:checked + .radio__disc {
	border-color: #fff;
}

.radio__input:disabled + .radio__disc {
	border-color: rgba(255, 255, 255, 0.2);
}

.radio__input:checked + .radio__disc:after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	border-style: solid;
	border-color: inherit;
	border-width: 4.5px;
	border-radius: 50%;
}

.filter__checkbox {
	border-radius: 50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	padding: 7px 28px 8px 16px;
	background-color: rgba(255, 255, 255, 0.2);
}

.checkbox__label,
.checkbox__square,
.checkbox__desc {
	display: inline-block;
	vertical-align: top;
}

.checkbox__label {
	margin-right: 16px;
}

.checkbox__label:last-child {
	margin-right: 0;
}

.checkbox__input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox__square {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/icons/checkbox-off-08.svg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	color: rgba(255, 255, 255, 0.8);
	width: 20px;
	height: 20px;
	padding-right: 6px;
	margin-right: 1px;
}

.checkbox__square:hover {
	background-image: url(../img/icons/checkbox-off.svg);
	border-color: #fff;
}

.checkbox__input:checked + .checkbox__square {
	background-image: url(../img/icons/checkbox-on.svg);
	width: 26px;
	padding-right: 0;
}

.checkbox__input:disabled + .checkbox__square {
	opacity: 0.4;
}

.filter__button {
	-webkit-box-ordinal-group: 100;
	-ms-flex-order: 99;
	order: 99;
	color: #fff;
	display: inline-block;
	vertical-align: bottom;
	width: 144px;
	height: 37px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	border: 2px solid #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.13;
	text-align: center;
	color: #ffffff;
}

.filter__button:hover {
	color: #323232;
	background-color: #fff;
}

.filter__button:active {
	background-color: #ededed;
	-webkit-box-shadow: inset 0px 2px 1px 0 #696969;
	box-shadow: inset 0px 2px 1px 0 #696969;
}

.goods {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
justify-content: flex-start;
	margin: 0 -13px;
	margin-bottom: 49px;
}

.goods-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 -13px;
	margin-bottom: -37px;
}

.goods__item {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
	margin-bottom: -42px;
	padding: 6px 14px 0 13px;
}

.goods__card {
	position: relative;
}

.goods-top .goods__item {
	margin-bottom: 0;
}

.goods__item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
	border-radius: 7px;
	z-index: 9;
}

.goods__card_hit::before {
	content: "";
	position: absolute;
	background-image: url(../img/icons/hit.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 61px;
	height: 61px;
	left: 0px;
}

.goods__price {
	z-index: 1;
	position: absolute;
	bottom: 3%;
	left: 0%;
}

.goods__value {
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	padding-right: 35px;
	background-image: url(../img/icons/ruble.svg);
	background-position: 100% 70%;
	background-repeat: no-repeat;
	background-size: 32px;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.goods__weight {
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	margin-left: -3px;
}

.goods__img {
	display: block;
	border-radius: 53% 52%;
	margin: 0px auto 13px auto;
	width: 100%;
	height: auto;
}

.goods__title {
	font-size: 17px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: -0.5px;
	text-align: center;
	color: #ffffff;
	margin: 0;
	margin-bottom: 11px;
}

.goods__button {
	visibility: hidden;
	display: block;
	padding: 10px 17px;
	bottom: 20px;
	margin: 0 auto;
	margin-bottom: 22px;
}

.goods__item:hover .goods__button {
	visibility: visible;
}

.goods__text {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
	padding-bottom: 29px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination__container {
	font-size: 0;
	margin-left: auto;
	margin-right: -13px;
}

.pagination__item {
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	line-height: 18px;
	margin-right: 3px;
}

.pagination__item_previous {
	margin-right: 7px;
}

.pagination__item_next {
	margin-left: 5px;
}

.pagination__link {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	width: 26px;
	height: 25px;
}

.pagination__link:not([href]) .pagination__img {
	opacity: 0.2;
}

.pagination__link:hover {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	cursor: pointer;
}

.pagination__item_active .pagination__link,
.pagination__item_active .pagination__link:hover,
.pagination__link:active {
	border-radius: 50%;
	background-color: #fff;
	color: #323232;
}

.pagination__item_previous .pagination__img {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 13px;
	padding-top: 14px;
}

.footer__social {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 18px;

}

.social__item {
	opacity: 0.8;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 6px;
}

.social__item:last-child {
	margin-right: 0;
}

.social__item:hover {
	opacity: 1;
}

.social__item:active {
	opacity: 0.4;
}

.social__img {
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.footer__information {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	width: 300px;
	padding-top: 15px;
	padding-bottom: 1px;
}

.footer__information::before {
	content: "";
	display: block;
	position: absolute;
	left: -22px;
	top: 19px;
	background-image: url(../img/icons/heart.svg);
	background-position: center;
	width: 16px;
	height: 15px;
	color: #fff;
	background-repeat: no-repeat;
	background-size: contain;
}


.information__item {
	width: 47.5%;
}

.information__link {
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.informaton__text {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright__link,
.copyright__desc {
	display: block;
	margin-bottom: 1px;
}

.copyright__desc,
.copyright__link_htmlacademy {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: normal;
	text-align: left;
	color: #fefefe;
	margin: 0;
	text-decoration: none;
}

.slider {
	position: relative;
	text-align: center;
	margin: -98px -20px -237px -20px;
}

.slider__label {
	margin-right: 4px;
}

.slider__controls {
	position: absolute;
	left: 2.1%;
	top: 63.6%;
}

.slide {
	overflow: hidden;
}

.slide__img {
	margin-left: -200px;
	margin-right: -200px;
}

.slider__input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.slider__disc {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: 1px;
	left: -7px;
	padding: 6px;
	border-width: 2px;
	border-radius: 50%;
	border-color: rgba(255, 255, 255, 0.8);
	border-style: solid;
	width: 5px;
	height: 5px;
}

.slider__disc:hover {
	border-color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
}

.slider__input:checked + .slider__disc {
	border-color: #fff;
	background-color: #fff;
}

.slide {
	position: relative;
}

.slide__container {
	position: absolute;
	bottom: 291px;
	left: 50%;
	width: 672px;
	margin-left: -336px;
}

.slider__link {
	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	text-align: center;
	color: #ffffff;
	padding: 8px 41px 13px 41px;
	text-decoration: none;
}

.slide__text {
	display: block;
	max-height: 365px;
	overflow: hidden;
	width: 100%;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 61px;
	color: #ffffff;
	margin: 0;
	margin-bottom: 39px;
}

.news {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 34px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.news__item {
	position: relative;
	width: 48.95%;
	padding: 15px 20px 7.8% 19px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: right;
	border-radius: 16px;
}

.news__item_raspberry,
.news__item_chocolate {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.news__item_raspberry {
	padding-left: 18px;
	background-color: #AC3950;
	background-image: url(../img/theme/raspberry.jpg);
}

.news__item_chocolate {
	padding-left: 20px;
	background-color: #65483A;
	background-image: url(../img/theme/chocolate.jpg);
}

.news__title,
.news__subtitle {
	text-align: left;
	color: #ffffff;
	margin: 0;
}

.news__title {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	margin-bottom: 17px;
}

.news__subtitle {
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	line-height: 21px;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-bottom: 25px;
}

.news__link {
	position: absolute;
	right: 21px;
	bottom: 23px;
	text-decoration: none;
	padding: 9px 25px 13px 21px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	text-align: center;
	text-shadow: none;
}

.news__item_chocolate .news__link {
	padding: 9px 21px 13px 21px;
	margin-bottom: 1px;
}

.facts {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #f0e7d4;
	background-image: url(../img/theme/waffle.jpg);
	background-position: right;
	background-repeat: repeat;
	background-size: contain;
	border-radius: 15px;
	padding: 24px 27px 26px 21px;
	color: #323232;
	margin-bottom: 40px;
}

.facts__title {
	font-style: normal;
	line-height: 30px;
	text-align: left;
	color: #323232;
	margin: 0;
	margin-bottom: 5px;
	letter-spacing: 0.2px;
}

.facts__list {
	padding: 0;
	list-style: none;
	font-size: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.facts__item {
	min-width: 48.65%;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	width: 42.5%;
	padding-top: 16px;
	padding-left: 55px;

}

.facts__item_ice,
.facts__item_leaf,
.facts__item_cow,
.facts__item_deg {
	background-position: 0 15%;
	background-repeat: no-repeat;
	background-size: 49px;
}

.facts__item_ice {
	background-image: url(../img/icons/ice-cream.svg);
}

.facts__item_leaf {
	background-image: url(../img/icons/eco.svg);
	padding-top: 22px;
}

.facts__item_cow {
	background-image: url(../img/icons/cow.svg);
	padding-left: 59px;
}

.facts__item_deg {
	background-image: url(../img/icons/thermometer.svg);
	padding-top: 22px;
	padding-left: 59px;
}

.recipes,
.subscribe {
	display: block;
	width: 48.952%;
	padding: 21px 20px 34px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 15px;
	min-height: 219px;
}

.recipes {
	background-color: #fff;
	background-image: url(../img/theme/strawberry2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.recipes__desc {
	margin: 0;
	margin-bottom: 4px;
}

.recipes__desc,
.recipes__link {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	font-weight: 500;
	max-width: 285px;
}

.recipes__link:hover,
.recipes__link:active {
	color: #e84d37;
}

.recipes__title {
	max-width: 285px;
	padding: 0;
	margin: 0;
}

.recipes__link {
	font-size: 24px;
	line-height: 30px;
}

.recipes__text {
	border-bottom: 2px solid #323232;
}

.recipes__link:hover .recipes__text {
	border-bottom: 2px solid #e84d37;
}

.subscribe {
	background: url(../img/icons/subscribe-bg.png);
	background-color: #f8f7f4;
	margin: 0;
	padding: 1px 0;
}

.subscribe__inner {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 27px 20px 34px 22px;
	margin: 4px 5px;
	background-color: #f8f7f4;
	border-radius: 10px;
	min-height: 210px;
}

.subscribe__label {
	width: 72.7%;
	margin-right: 11px;
}

.subscribe__desc {
	font-size: 16px;
	line-height: 22px;
	text-align: left;
	color: #5a5a5a;
	margin: 0;
	margin-bottom: 36px;
}

.subscribe__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

	.subscribe__input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 12px 15px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(178, 178, 178, 0.52);
}

.subscribe__input::-webkit-input-placeholder {
	font-size: 16px;
	vertical-align: middle;
	text-align: left;
	color: #999999;
}

.subscribe__input:-ms-input-placeholder {
	font-size: 16px;
	vertical-align: middle;
	text-align: left;
	color: #999999;
}

.subscribe__input::-ms-input-placeholder {
	font-size: 16px;
	vertical-align: middle;
	text-align: left;
	color: #999999;
}

.subscribe__input::placeholder {
	font-size: 16px;
	vertical-align: middle;
	text-align: left;
	color: #999999;
}

.subscribe__button {
	padding: 10px 19px 10px 19px;
	text-shadow: none;
}

.map {
	width: 100%;
	background-image: url(../img/theme/map.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1200px 430px;
	position: relative;
	height: 433px;
}

.map__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 0 27px;
}

.map-google {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	border: 0;
}

.map__contacts {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 302px;
	padding: 28px 55px 101px 25px;
	background-color: #fff;
	border-radius: 15px;
	margin-bottom: 4px;
}

.map__marker {
	position: absolute;
	top: 32%;
	left: 265px;
	background-image: url(../img/icons/pin.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 140px;
	width: 80px;
}

.popup-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	z-index: 90;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
}

.popup-overlay_show {
	display: block;
}

.popup-feedback {
	display: none;
	z-index: 100;
	position: fixed;
	padding: 20px 25px;
	background-color: #f8f7f4;
	border-radius: 10px;
	top: 0;
	text-align: right;
	top: 80px;
	left: 50%;
	margin-left: -250px;
}

.popup-feedback_show {
	display: block;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.popup-feedback_error {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.feedback__title {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	text-align: left;
	color: #323232;
	margin: 0;
	margin-bottom: 24px;
}

.feedback__input,
.feedback__textarea {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: normal;
	text-align: left;
	color: #999999;
	border: solid 1px rgba(178, 178, 178, 0.52);
	background-color: #fff;
	resize: none;
}

.feedback__input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	min-width: 267px;
	padding: 16px 15px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.feedback__textarea {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 428px;
	min-height: 155px;
	border-radius: 5px;
	padding: 13px 15px;
	margin-bottom: 25px;
	resize: none;
}

.feedback__button {
	display: inline-block;
	vertical-align: bottom;
	padding: 10px 24px;
	text-decoration: none;
}

.feedback__close {
	position: absolute;
	right: 32px;
	top: 15px;
	width: 18px;
	height: 17px;
}

.feedback__close:before,
.feedback__close:after {
	position: absolute;
	left: 15px;
	content: "";
	height: 20px;
	width: 2px;
	background-color: #323232;
}

.feedback__close:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.feedback__close:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media (max-width: 1100px) {

	.goods__item {
		padding-left: 10px;
		padding-right: 10px;
	}

	.goods__button {
		padding: 10px 14px;
	}

	/* .map__contacts {
		margin-left: 279px;
	} */

	.container {
		padding: 0 20px;
	}
}
